body{
    margin-top: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/img/wp6337731.jpg);
    background-size: cover;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid yellow;
    border-radius: 5px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    width: 40%;
    margin-bottom: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid yellow;
    border-radius: 5px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    width: 40%;
}

input,label{
    margin-top: 10px;
}

input[type="button"]{
    margin-bottom: 10px;
}

#mensaje-incorrecto{
    width: 50%;
    background-color: black;
    border: 2px solid yellow;
    margin-top: 50px;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
}



#mensaje-prou{
    width: 50%;
    background-color: black;
    border: 2px solid yellow;
    margin-top: 50px;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}